
<div style="margin-bottom: 50px;margin-top: 100px" class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img style="width: 100%;height: 400px"
                [src]="urlShow">
            </div>
          </div>
          <h4>Hình ảnh liên quan</h4>
          <ul class="preview-thumbnail nav nav-tabs">
            <li><a data-target="#pic-2" data-toggle="tab">
              <img style="width: 80px;height: 100px" (click)="changeImgTwo(product.imageTwo)" [src]="product.imageTwo"/></a>
            </li>
            <li><a data-target="#pic-3" data-toggle="tab">
              <img style="width: 80px;height: 100px" (click)="changeImgThree(product.imageThree)" [src]="product.imageThree"/></a>
            </li>
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{product.nameProduct}}</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
            </div>
            <span class="review-no">41 đánh giá</span>
          </div>
          <b>Mô tả: </b>
          <p class="product-description">{{product.description}}</p>
          <b>Vật liệu: </b>
          <p>- {{product.nameCategory}}.</p>
          <b>Số lượng trong kho: </b>
          <p>- {{product.quantity}}.</p>
          <h4 class="price">Giá: <span style="margin-left: 10px">{{product.price |number}}₫</span></h4>
          <h5 class="colors" style="display: inline">
            <input [(ngModel)]="quantityProduct">
          </h5>

          <h5 class="colors">
            <button style="width: 100%;" class="add-to-cart btn btn-default" (click)="addProductToCart(product)">Thêm vào giỏ hàng</button>
          </h5>
          <div style="margin-top: 50px">
          <h5 class="fw-bold mb-5" style="position: absolute; bottom: 0;">
            <a routerLink="/home"><i class="fas fa-angle-left me-2"></i>Quay lại trang chính</a>
          </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
