<section class="header" >
  <nav>
    <img class="animationTop delay-01" src="https://i.imgur.com/h0a9NFG.png"
         style="width: 200px; height: 100px; background-size: cover"/>
    <div class="nav-links" id="nav-links">
      <ul>
        <li style="margin-right: 100px">
        </li>
        <li class="animationTop delay-03"><a routerLink="/home">Trang chủ</a></li>
        <li class="animationTop delay-05"><a routerLink="/cart"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a></li>
        <li *ngIf="isLogged == false" class="animationTop delay-03"><a routerLink="/login">Đăng nhập</a></li>
        <li class="animationTop delay-1" *ngIf="isLogged == true">
          <div>
            <div class="dropdown animationTop delay-11">
              <a class="m-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{user?.avatar}}" class="rounded-circle" style="width: 40px; background-image: none; height: 40px" height="24" width="24"
                     alt="avc"/>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" style="background-color: #e4606d; cursor: pointer; width: 180px">
                <li class="animationTop delay-01" style="color: white">
                  <i class="fa-solid fa-user me-3" ></i><strong style="color: green">{{user?.username}}</strong>
                </li>
                <li class="animationTop delay-02" ><a  class="dropdown" routerLink="/teacher/editInfoTeacher" > <i class="fa-solid fa-gear me-1"></i>
                  Sửa thông tin cá nhân</a></li>
                <li class="animationTop delay-03"><a class="dropdown" routerLink="/security/changePassword" ><i class="fa-sharp fa-solid fa-key me-1" ></i> Sửa mật khẩu</a></li><br>

                <li class="animationTop delay-04"><a class="dropdown" data-bs-toggle="modal" data-bs-target="#logout" (click)="logout()"
                                                     type="button"><i class="fa-sharp fa-solid fa-right-to-bracket me-1" ></i> Đăng xuất </a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </nav>
</section>
